<section class='inverse monospace'>
  <h2>CSS</h2>
</section>

<section class='inverse monospace'>
  <p>CSS adds color, typography, page composition and animation to the web.</p> 
  <p>The web would be a sad place without it.</p>
</section>

<section class='inverse monospace'>
  <p>CSS works by <em>selecting</em> elements on the page and applying styles to them.</p>
</section>

<section class='inverse monospace'>
  <p>This is a css ruleset. Can you describe what it does?</p>
<pre class='major'><code class='lang-css'>
p{
  font-size: 32px;
  color: red;
}
</code></pre>
</section>