<%
  function entities(str){
    return str.replace('/</g','&lt;').replace('/>/g','&gt;');
  }
%>

<section class='inverse monospace'>
  <h2>HTML</h2>
  <p>Here's all the HTML you need to know to get started.</p>
</section>

<section class='inverse monospace'>
<p>HTML is comprised of tags.</p>
<pre class='major'><code class='lang-xml'>&lt;p&gt;
This is a paragraph tag. 
Tags give content meaning and structure. 
&lt;/p&gt;
</code></pre>
</section>

<section class='inverse monospace'>
<p>Tags can nest inside other tags. HTML documents are trees of nested tags.</p>
<p>Here's an unordered list with nested list items</p>
<pre class='major'><code class='lang-xml'>&lt;ul&gt;
  &lt;li&gt;list item&lt;/li&gt;
  &lt;li&gt;list item&lt;/li&gt;
  &lt;li&gt;list item&lt;/li&gt;
&lt;/ul&gt;
</code></pre>
</section>

<section class='inverse monospace'>
<p>Some tags are <i>self closing</i>.</p>
<p><strong>br</strong> (line break) is an example.</p>
<pre class='major'><code class='lang-xml'>&lt;br/&gt;
</code></pre>
</section>

<section class='inverse monospace'>
<p>Tags can have attributes.</p>
<p>The <strong>image</strong> tag (img) has a source attribute (src) that points to a file.</p>
<pre class='major'><code class='lang-xml'>&lt;img src="logo.png"/&gt;
</code></pre>

<p><br/>class is how we target a tag for styling with css.</p>
<pre class='major'><code class='lang-xml'>&lt;p class="lead"&gt;Lead paragraph&lt;/p&gt;
</code></pre>
<p><br/>id gives an element a unique value. It's helpful for targeting an item with javascript.</p>
<pre class='major'><code class='lang-xml'>&lt;button id='product-1234'&gt;Add to cart&lt;/button&gt;
</code></pre>

</section>

<section class='monospace'>
  <p>This is what <a href='http://info.cern.ch/hypertext/WWW/TheProject.html' target='_blank'>the first website</a> looked like.</p>
</section>

<%- partial('../_partials/slide-image',{image:'img/cern.jpg'}) %>

<section class='monospace'>
  <p>HTML tags are what give pages on the internet a common structure.</p>
  <p>Without it there wouldn't be any of the interoperability that makes searching and linking possible.</p>
</section>

<section class='monospace'>
  <p>The # of <a href='http://www.w3schools.com/tags/' target='_blank'>html tags</a> is limited when you consider the amount of variation on the internet.</p>
  <p>You won't find a tag for every structural element or UI component.</p>
</section>

<section class='monospace'>
  <p>Most tags don't have any specific visual traits associated with them. They exist to wrap your content and give it meaningful structure.</p>

  <p>The visual appearance of the page is where the next technology, CSS, comes into play</p>
</section>

