<section class='meta'>
  <h2>Before we get started.</h2>
  <h3>Create a codepen account if you don't have one already</h3>
  <p><a href='http://codepen.io/'>codepen.io</a></p>
</section>

<section>
  <h1>Constructing User Interfaces</h1>
</section>

<section>
  <h2>Why are we coding?</h2>
</section>

<section>
  <p>All design artifacts go through a translation when they move from <em>paper</em> or <em>pixels</em> to <em>code</em>.</p>
  <p>As a designer you want to play an active role in that translation.</p>
</section>

<section>
  <p>You aren't expected to come out of this with a deep coding profiency.</p>
  <p>But you will have an understanding of how web interfaces are constructed and that will make you a better designer.</p>
</section>

<section>
  <h2>Why web interfaces?</h2>
  <p>Web UIs are still some of the most complex to build.</p>
  <p>Web technologies are still ubiquitous.</p>
</section>

<section>
  <h2>This week we'll focus on html &amp; css. In the coming weeks we'll incorporate javascript.</h2>
  <div class='grid'>
    <div class='column-4-of-12'>
      <h3>HTML</h3>
      <p>Gives a document <strong>structure</strong>.</p>
    </div>
    <div class='column-4-of-12'>
      <h3>CSS</h3>
      <p>Gives a document <strong>style</strong>.</p>
    </div>
    <div class='column-4-of-12'>
      <h3>Javascript</h3>
      <p>Gives a document <strong>behaviors &amp; interaction</strong>.</p>
    </div>
  </div>
</section>