<section class='meta'>
    <h3>In-Class Assignment</h3>

    <p>Let's write some html + css!</p>

    <h2><a href='http://codepen.io/jleonard/pen/ryzWvo' target='_blank'>http://codepen.io/jleonard/pen/ryzWvo</a></h2>
</section>

<section class='meta'>

  <h3>Next week's assignment</h3>

    <p class='major'>
      Read <a href='http://alistapart.com/article/language-of-modular-design'>The Language of Modular Design</a> by Alla Kholmatova. We'll discuss in class next week. 
    </p>

    <h3>Today's lecture can be found at:</h3>
    <h2><a href='http://bit.ly/1OSjX55' target='_blank'>bit.ly/1OSjX55</a></h2>

</section>

</section>

<section class='meta'>
  <h3>Suggested reading</h3>
  <div class='grid'>
    <div>
      <a href='http://abookapart.com/products/html5-for-web-designers' target='_blank'>
        <h4>html5 for web designers</h4>
        <img style='max-width:100%' src='img/html5-book.jpg'/>
      </a>
    </div>
    <div>
      <a href='http://abookapart.com/products/css3-for-web-designers' target='_blank'>
        <h4>css3 for web designers</h4>
        <img style='max-width:100%' src='img/css3-book.jpg'/>
      </a>
    </div>
  </div>
</section>

<section class='meta'>
<footer>

  <ul>
    <h4>Learning resources</h4>
    <li><a href="http://www.codecademy.com/en/tracks/web">Codecademy</a></li>
    <li><a href="http://css-tricks.com/">css tricks</a></li>
    <li><a href="http://www.w3schools.com/">w3schools</a></li>
    <li><a href="http://www.html5rocks.com/en/">html5 rocks</a></li>
    <li><a href="https://developer.mozilla.org/en-US/Learn/HTML">MDN (Mozilla Developer Network)</a></li>
    <li><a href="http://webdesign.tutsplus.com/tutorials/the-best-way-to-learn-css-2--webdesign-11906">The best way to learn CSS</a></li>
    <li><a href="http://htmldog.com/reference/cssproperties/">All CSS Properties</a></li>
  </ul>

  <ul>
    <h4>Tools</h4>
    <li><a href="http://validator.w3.org/#validate_by_input">w3c's markup validation service</a></li>
    <li><a href="http://codepen.io/">codepen.io</a></li>
    <li><a href="https://developer.chrome.com/devtools">Chrome DevTools</a></li>
    <li><a href="https://developer.mozilla.org/en-US/docs/Web/CSS/color_value">MDN Color docs</a></li>
    <li><a href="http://colorrrs.com/">Colorrrs</a></li>
    <li><a href="http://hellohappy.org/beautiful-web-type/">Beautiful Web Type</a></li>
    <li><a href="https://www.google.com/fonts/">Google Web Fonts</a></li>
  </ul>

</footer>
</section>