<!--
<section class='monospace'>
  <h3>Best Practices for Working Responsive</h3>
  <ul>
    <li>Get designs into code or a reponsive prototyping tool as soon as possible. Tools like Sketch and Photoshop aren't designed for responsive.</li>
    <li>Avoid over-producing wires or comps to capture responsive states. Having 3+ versions of every screen is complicated to maintain.</li>
    <li>Test on devices.</li>
  </ul>
</section>
-->

<section class='monospace'>
  <h3>CodePen Examples</h3>
  <ul>
    <li><a href='http://codepen.io/jleonard/pen/OMwLNM' target='_blank'>Basic Grid System</a></li>
    <li><a href='http://bit.ly/2n7MBbW' target='_blank'>CSS Properties That Style Type</a></li>
    <li><a href='http://codepen.io/jleonard/pen/PZBpYd' target='_blank'>A Basic Media Query Demo</a></li>
    <li><a href='http://codepen.io/jleonard/pen/qrxJRj' target='_blank'>The CSS Box Model</a></li>
  </ul>
  
  <h3>Resources</h3>
  <ul>
    <li><a href='https://github.com/bouchenoiremarc/Sketch-Constraints'>Sketch Constraints Plugin</a></li>
    <li><a href='https://github.com/matt-curtis/Fluid-for-Sketch'>Fluid Plugin for Sketch</a></li>
  </ul>
</section>

<section class='monospace'>
  
  <div class='centered'>
    <h3>Demo:<br/>The CSS Box Model</h3>
    <object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/C260kLBYwMg&hl=en&fs=1"></param><param name="allowFullScreen" value="true"></param><embed src="http://www.youtube.com/v/C260kLBYwMg&hl=en&fs=1" type="application/x-shockwave-flash" allowfullscreen="true" width="425" height="344"></embed></object>
  </div>

</section>

<section class='monospace'>
  
  <div class='m-grid'>
    <div class='column-6'>
      <h3>Assignment: Option 1</h3>
      <p>Using codepen, create a page that describes 5 html tags.</p>
    </div>

    <div class='column-6'>
    </div>
  </div>

</section>


