<section class='inverse monospace'>

<h2>Recap</h2>
<p>Last week we covered the basics of html &amp; css.</p> <p>We learned that with html you <em>markup</em> a document with <em>tags</em> to give the content meaning &amp; structure.</p> <p>We learned that css is where style is applied to give a document qualities like color, typography, spacing and layout.</p>

  <div class='grid'>
    <div class='column-6-of-12'>
<pre class='major'><code class='lang-xml'>&lt;!-- html gives structure --&gt;
&lt;p&gt;
This is a paragraph tag. 
&lt;/p&gt;</code></pre>
    </div>

    <div class='column-6-of-12'>
<pre class='major'><code class='lang-css'>/* css gives style */
p{
  font-size: 32px;
  color: red;
}</code></pre>
    </div>
  </div>

</section>

<section class='inverse monospace'>
  <h3>Thoughts on the reading?</h3>
  <p><a href='https://alistapart.com/article/language-of-modular-design'>The Language of Modular Design</a></p>
</section>

<section class='inverse monospace'>
  <h3>This week</h3>
  <h2>Responsive Web Design</h2>
</section>

<section class='monospace'>
  <p>Being responsive is about making dynamic changes to appearance of your website to accommodate different screen sizes.</p>
</section>

<section class='monospace inverse'>
  <blockquote>You must be shapeless, formless, like water. When you pour water in a cup, it becomes the cup. When you pour water in a bottle, it becomes the bottle. When you pour water in a teapot, it becomes the teapot. <cite class='author'>Bruce Lee</cite></blockquote>
</section>

<section class='image'>
  <div style="background-image: url('img/responsive_ship.jpg');"></div>
</section>

<section class='image'>
  <div style="background-image: url('img/btc-dashboard.png');"></div>
</section>

