#section{
  ._(@background,@color){
    background-color: @background;
    color: @color;
  }
  .shadow(){
    text-shadow: 1px 1px 10px rgba(0,0,0,0.5);
  }
}

#slideshow.web{
  section{
    position: relative;
  }
  #editor{
    position: relative;
  }
  .editor-toggle{
    display: none;
  }
}

section{
  background-color: white;
  #transition._(transform,0.45s);
  #transition._(background-color,1.5s);
  #fixed.top-left();
  //box-shadow: 0px 5px 5px 5px rgba(0,0,0,0.5);
  width: 100vw;
  min-height: 100vh;
  //border-top: 10px solid @fuchsia;
  &[data-state='off']{
    top: -150%;
    #transform.scale(1.2,1.2);
    #transform.rotate(5deg);
    &:nth-child(odd){
      #transform.scale(1.2,1.2);
      #transform.rotate(-5deg);
    }
  }
  padding: 10%;
  &.minor{
    padding: 0;
    //min-height: 50vh;
  }
}

.grid{
  #flex.row();
  > *{
    width: 50%;
    //height: 100vh;
    padding: @baseUnit;
    position: relative;
  }
  .col-75{
    width: 60%;
  }
  .col-25{
    width: 40%;
  }
}

section.image{
  padding: 0;
  div{
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

section.fullscreen{
  padding: 0px;
}

section.inverse{
  #section._(@slate,@newsprint);
  #section.shadow();
  a{
    color: @yellow;
  }
  a:focus{
    color: @orange;
  }
}

section.monospace{
  h1,h2,h3,h4,p{ 
    font-family: @mono;
  }
}

section.fancy{
  h1,h2,h3,h4,p{ 
    font-family: @cursive; 
    font-weight: normal;
    text-align: center;
    span{
      display: block;
      font-size: 0.33em;
    }
  };
}

section.meta{
  #section._(@svaBlue,white);
  h1,h2,h3,h4,p{ 
    font-family: @sans;
  }
  a{
    color: @pee;
  }
}

.responsive{
  section{
    background-color: @svaBlue;
    color: white;
    &.inverse{
      #section._(@slate,white);
    }
    &.meta{
      #section._(@svaRed,@paper);
      a{
        color: @pee;
      }
    }
    a{
      color: @orange;
    }
  }
}