// typography
// -------------------------------
// 1, 1.5, 2.25, 3.375, 5.063, 7.594, 11.391

h1,h2,h3,h4,h5,h6,p,blockquote{
  margin-top: @baseUnit;
  margin-bottom: @baseUnit;
  a,a:visited{
    text-decoration: none;
    color: @blue;
  }
  a:focus{
    outline: none;
    color: @maroon;
  }
}

h1,h2,h3,h4,h5,h6{
  font-family: @sans;
  font-weight: 700;
}

h1{
  font-size: 7.594rem;
  &.major{
    font-size: 11.391rem;
  }
}

h2{
  font-size: 5.063rem;
}

p,h3{
  font-size: 2.25rem;
  line-height: 1.5;
  &.minor{
    font-size: @baseUnit * 1.75;
    line-height: 1.25;
  }
}

h4{
  font-size: 1.5rem;
}

mark{
  background-color: @pee;
}

section > p{
  max-width: 75%;
  margin-bottom: @baseUnit * 2.5;
}


blockquote{
  &:before{
    display: none;
    content: '\201C';
    vertical-align: sub;
    font-size: 2em;
  }
  border-left: 8px solid @yellow;
  font-size: @baseUnit * 2.25;
  font-family: @mono;
  font-weight: 900;
  padding: @baseUnit;
  max-width: 65%;
  margin: 0;
  a{
    text-decoration: none;
  }
  cite{
    #initial._(font-style);
    display: block;
    font-size: .75em;
    margin: @baseUnit 0;
  }
}