//
//   .-"""-.
//  / _   _ \
//  ](_' `_)[
//  `-. x ,-' 
//    |~~~|
//    `---'
//

@import (less) '../../node_modules/worldbuilder/src/css/worldbuilder.less';

// variables
// -------------------------------

// folder paths
@fontPath : '../fonts/';
@imgPath : '../img/';

// font-stacks
@serif : 'Vollkorn', serif;
@sans : 'PT Sans', sans-serif;
@mono : 'Source Code Pro', monospace;
@open : 'Open Sans', sans-serif;
@cursive : 'Abril Fatface', cursive;

// font-sizes
@sizeMedium : @baseUnit * 2;

// measurements
@baseUnit : 1rem;
@radius   : 3px;

// z-index management
@zContent      : 1;
@zUI           : 2;
@zSystem       : 500;
@zMeta         : 999999;

// color
@navy      : #001f3f;
@blue      : #0074d9;
@aqua      : #7fdbff; 
@teal      : #39cccc; 
@olive     : #3d9970; 
@green     : #2ecc40;
@lime      : #01ff70;
@yellow    : #ffdc00;
@orange    : #ff851b;
@red       : #ff4136;
@maroon    : #85144b;
@fuchsia   : #f012be;
@purple    : #b10dc9;
@black     : #111;
@gray      : #aaa;
@slate     : #303030;
@silver    : #ddd;
@smoke     : #f5f5f5;
@white     : #fff;
@paper     : #fcfaf2;
@newsprint : #f0ece8;
@pee       : #f4fd72;

@svaBlue   : #00add3;
@svaGrey   : #4c4d4f;
@svaRed    : #dc0032;

// core imports
// -------------------------------
@import (less) '_mixins.less';
@import (less) '_font-face.less';
@import (less) '_prism.less';



// reset
// -------------------------------
*, *:before, *:after{
  box-sizing: border-box;
}

html{
  font-size: 16px;
  line-height: 1.25;
}

body{
  -webkit-font-smoothing : antialiased;
  font-family: @serif;
  color: @slate;
  background-color: @paper;
  margin: 0;
  font-size: @baseUnit * 2.5;
}

a{
  text-decoration: none;
  &.minor{
    font-size: @baseUnit;
  }
}

div.ui-demo{
  input,button,select optgroup{
    //font-size: @baseUnit * 2.5;
  }
  input,button,select{
    margin-bottom: @baseUnit * 3;
    display: block;
  }
}

@import (less) '_typography.less';
@import (less) '_section.less';
@import (less) '_code_editor.less';
@import (less) '_util_classes.less';

pre,code{
  font-family: @mono;
  font-weight: 400;
  &.major{
    font-size: 2.25rem;
  }
  &.minor{
    font-size: 1.75rem;
  }
}

.editor-toggle{
  width: 20px;
  height: 20px;
  background-color: @smoke;
  border-radius: 100px;
  #fixed > .bottom-right(10px,10px);
  z-index: 99999999;
  &:focus{
    outline: none;
  }
}

@import '_devices.less';