<section>
  <div class='inner'>

    <h4>This is html</h4>
<pre class='lang-markup'><code>
<h1>Headline</h1>
<p>I am a paragraph.</p>
</code></pre>

    <h4>This is css</h4>
<pre class='lang-css'><code>
h1{
  color: red;
}
p{
  color: green;
}
</code></pre>

  </div>
</section>