<%
  function rando(len){
    var str ='';
    var a = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'.split('');
    for(var ii = 0; ii < len; ii++){
      str += a[Math.floor(Math.random()*a.length)];
    }
    return str;
  }
%>


<div>

<%- partial('_slides-2016/_introduction',{}) %>
<%- partial('_slides-2016/_everything-html',{}) %>
<%- partial('_slides-2016/_everything-css',{}) %>

<%- partial('_slides-2016/_outro',{}) %>

</div>