<div class='responsive'>
  
  <%- partial('_responsive-slides/introduction',{}) %>
  <%- partial('_responsive-slides/_techniques',{}) %>
  <%- partial('_responsive-slides/_grid',{}) %>
  <%- partial('_responsive-slides/_outro',{}) %>

</div>