<section id='<%- id %>' class='fullscreen editor'>

  <div class='markup'>
    <div class='preview'>
      <p>Hello World</p>
    </div>
<pre><code class='lang-xml'><h1>What up</h1>
</code></pre>
  <textarea>
    Toggle
  </textarea>
  <div class='actions'>
    <button>Toggle</button>
  </div>
  </div>

  <div class='code'>
  <textarea>
  p{
    font-size: 32px;
  }
  </textarea>
<pre><code class='lang-css'>p{
  font-size: 32px;
}
</code></pre>
  </div>
</section>