<article id='<%- id %>' class='fullscreen editor'>

  <div class='markup'>
    
<pre><code class='lang-xml'><h1>What up</h1>
</code></pre>
  <textarea>
    Toggle
  </textarea>
  <div class='preview'>
      <p>Hello World</p>
    </div>
  <div class='actions'>
    <!--<button class='edit'>Edit</button>-->
    <button class='view-code'>Code</button>
    <button class='view-preview'>Preview</button>
  </div>
  </div>

  <div class='code'>
  <textarea>
  p{
    font-size: 32px;
  }
  </textarea>
<pre><code class='lang-css'>p{
  font-size: 32px;
}
</code></pre>
  </div>
</article>