<article id='<%- id %>' class='fullscreen editor'>

  <div class='markup'>
    
<pre><code class='lang-xml'>&lt;!-- html --&gt;
&lt;p&gt;hello world&lt;/p&gt;
</code></pre>
  <textarea>
<!-- html -->
&lt;p&gt;hello world&lt;/p&gt;
  </textarea>
  <div class='preview'>
<!-- html -->
<p>hello world</p>
  </div>
  <div class='actions'>
    <button class='view-code'>Code</button>
    <button class='view-preview'>Preview</button>
  </div>
  </div>

  <div class='code'>
  <textarea>
  /* css */
  p{

  }
  </textarea>
<pre><code class='lang-css'>/* css */
p{
  
}
</code></pre>
  </div>
</article>